.contact{
    margin-bottom: 124px;
}
.contact__cont {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contact__left {
    max-width: 663px;
    width: 100%;
}

.contact__heading {
    font-size: 64px;
    font-weight: bold;
    margin-bottom: 20px;
    /* line-height: 145%; */
}

.contact__desc {
    font-size: 21px;
    font-weight: 400;
    line-height: 165%;
}

.contact__right {
    max-width: 677px;
    width: 100%;
}

.contact__label {
    display: flex;
    justify-content: space-between;
    align-items: start;
    flex-direction: column;
    font-size: 21px;
    font-weight: 400;
    margin-bottom: 7px;
}

.contact__input {
    width: 100%;
    max-width: 100%;
    height: 77px;
    border-radius: 14px;
    background-color: #FBFBFB;
    /* border: none; */
    outline: none;
}

.textarea {
    margin-bottom: 13px;
    height: 264px;
}